<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="AnonymousService" class="com.iassistent.server.service.impl.AnonymousServiceImpl">
        <property name="anonymousDataDao" ref="AnonymousDataDao"/>
    </bean>

    <bean id="AccountService" class="com.iassistent.server.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="AccountDao"/>
    </bean>

    <bean id="ActionService" class="com.iassistent.server.service.impl.ActionServiceImpl">
        <property name="actionDao" ref="ActionDao"/>
    </bean>


    <bean id="MessageService" class="com.iassistent.server.daemon.MessageService" init-method="init" destroy-method="destroy">
        <property name="actionDao" ref="ActionDao"/>
        <property name="batchSize" value="100"/>
        <property name="sleepInterval" value="15000"/>
    </bean>
</beans>